CREATE TABLE ORDO_PROJECT (
    ONB INTEGER NOT NULL,
    AGL_AA_S_CUR_RELEASE TEXT,
    BCWP TEXT,
    BRI TEXT,
    BRN INTEGER,
    BUDGET TEXT,
    BUDGET_FINISH DATE,
    BUDGET_LOCKED_BY TEXT,
    BUDGET_START DATE,
    BUDGET_UPDATE_MODE TEXT,
    CALENDAR_INDEX TEXT,
    CALENDAR_NUMBER INTEGER,
    CONSOLIDATION BOOLEAN,
    COST_VERSION INTEGER,
    CREATION_DATE DATE,
    CURRENT_VERSION_NUMBER INTEGER,
    DEPENDENCES_MANAGEMENT TEXT,
    ETC TEXT,
    GROUP_READ_ONLY TEXT,
    GROUP_READ_WRITE TEXT,
    INCUR_BUDGET TEXT,
    INCUR_EXP TEXT,
    LOCKING_TIME DATE,
    LONG_SIGNATURE TEXT,
    LWP_DATE DATE,
    MC_AA_DU_SLIP_FIH TEXT,
    MC_AA_DU_SLIP_PHII TEXT,
    MC_AA_DU_SLIP_PHIII TEXT,
    MC_AA_N_POS_FIH TEXT,
    MC_AA_N_POS_FIL TEXT,
    MC_AA_N_POS_LAUNCH TEXT,
    MC_AA_N_POS_PHII TEXT,
    MC_AA_N_POS_PHIII TEXT,
    MNOP INTEGER,
    MODIFY_VERSION INTEGER,
    NAME TEXT,
    NBPERIODS INTEGER,
    NUMBER_OF_OBJECTS INTEGER,
    OBS TEXT,
    OPX2_0BS TEXT,
    OPX2_1BS TEXT,
    OPX2_3BS TEXT,
    OPX2_5BS TEXT,
    OPX2_COMMENT TEXT,
    OPX2_CURRENT_DATE DATE,
    OPX2__AGL_AA_B_AGILE_PROJECT BOOLEAN,
    OPX2__AGL_AA_B_BOARD_PROJECT BOOLEAN,
    OPX2__AGL_AA_B_PREVENT_DEL BOOLEAN,
    OPX2__AGL_AA_N_VERSION TEXT,
    OPX2__BRA_AA_B_BRAND_PRJ BOOLEAN,
    OPX2__CRT_AA_B_IS_CONTRACT BOOLEAN,
    OPX2__DM_AA_DESC TEXT,
    OPX2__FIN_AA_B_EXP_TYPE_CLEAN BOOLEAN,
    OPX2__FIN_AA_S_SELECTED_PNL TEXT,
    OPX2__INF_AA_B_DEV_DATA BOOLEAN,
    OPX2__INF_AA_B_EXCLUDED_PRJ BOOLEAN,
    OPX2__INF_AA_B_HIDE_PRJ BOOLEAN,
    OPX2__INF_AA_S_EXP_USER_LIST TEXT,
    OPX2__INF_AA_S_RES_CF_LIST TEXT,
    OPX2__INF_AA_S_USER_COLOR TEXT,
    OPX2__KP_AA_B_INITIATIVE_OK BOOLEAN,
    OPX2__KP_AA_B_MANDATORY BOOLEAN,
    OPX2__KP_AA_B_VALIDATED BOOLEAN,
    OPX2__KP_AA_N_COR_OPP TEXT,
    OPX2__KP_AA_N_COR_RISK TEXT,
    OPX2__KP_AA_N_SCORERS TEXT,
    OPX2__MIG_AA_N_VERSION_NB TEXT,
    OPX2__OKR_B_AA_PRJ_HAS_OKR BOOLEAN,
    OPX2__PAC_AA_B_SG_BY_PS BOOLEAN,
    OPX2__PAC_AA_B_SUBMIT_TO_PAC BOOLEAN,
    OPX2__PAC_AA_N_PRIO TEXT,
    OPX2__PAC_AA_S_APPROB_PRJ TEXT,
    OPX2__PAC_AA_S_CURRENT_OK_PHA TEXT,
    OPX2__PGM_MNGT_AA_B_IS_PGM BOOLEAN,
    OPX2__PGM_MNGT_AA_T_APPROACH TEXT,
    OPX2__PGM_MNGT_AA_T_BENEFIT TEXT,
    OPX2__PGM_MNGT_AA_T_COMPET TEXT,
    OPX2__PGM_MNGT_AA_T_NEED TEXT,
    OPX2__PLM_AA_B_IS_A_PRODUCT BOOLEAN,
    OPX2__PLM_AA_S_CI_PRODUCT TEXT,
    OPX2__PLM_AA_S_CPNTS_BCK TEXT,
    OPX2__PLM_RA_PRODUCT_TYPE TEXT,
    OPX2__PM_AA_B_BUDGET_LOCKED BOOLEAN,
    OPX2__PM_AA_B_DELETED BOOLEAN,
    OPX2__PM_AA_B_IS_A_LIBRARY BOOLEAN,
    OPX2__PM_AA_D_BUD_UPDATE_DATE DATE,
    OPX2__PM_AA_N_DELAY_PRJ_THRESH TEXT,
    OPX2__PO_AA_N_GATE_COMP_SCORE TEXT,
    OPX2__PV_AA_S_STATUS TEXT,
    OPX2__RM_REVIEW_AA_B_COMP_ALL BOOLEAN,
    OPX2__RM_REVIEW_AA_N_CODE TEXT,
    OPX2__ROA_AA_B_COMP_ON_SAME BOOLEAN,
    OPX2__ROA_AA_B_CUR_VS_SYNCH BOOLEAN,
    OPX2__ROA_AA_B_DISP_LEFT_PANEL BOOLEAN,
    OPX2__ROA_AA_B_FOOTER_DATE BOOLEAN,
    OPX2__ROA_AA_B_FOOTER_PNB BOOLEAN,
    OPX2__ROA_AA_B_FOOTER_TPNB BOOLEAN,
    OPX2__ROA_AA_B_GRP_BOLD BOOLEAN,
    OPX2__ROA_AA_B_GRP_IN_GANTT BOOLEAN,
    OPX2__ROA_AA_B_GRP_ITA BOOLEAN,
    OPX2__ROA_AA_B_HEADER_DATE BOOLEAN,
    OPX2__ROA_AA_B_HEADER_PNB BOOLEAN,
    OPX2__ROA_AA_B_HEADER_TPNB BOOLEAN,
    OPX2__ROA_AA_B_HIDE_COMP_LINKS BOOLEAN,
    OPX2__ROA_AA_B_HIDE_NOT_GRP BOOLEAN,
    OPX2__ROA_AA_B_IGN_GRP_HEIGHT BOOLEAN,
    OPX2__ROA_AA_B_LAYOUT_PEX BOOLEAN,
    OPX2__ROA_AA_B_LAYOUT_PORT BOOLEAN,
    OPX2__ROA_AA_B_LAYOUT_PROJECT BOOLEAN,
    OPX2__ROA_AA_B_LEGD_IN_FOOTER BOOLEAN,
    OPX2__ROA_AA_B_NEW_ROADMAP BOOLEAN,
    OPX2__ROA_AA_B_PUBLISHED BOOLEAN,
    OPX2__ROA_AA_B_PUB_NOFIXDATES BOOLEAN,
    OPX2__ROA_AA_B_ROADMAP_PROJECT BOOLEAN,
    OPX2__ROA_AA_B_SWIMLINE BOOLEAN,
    OPX2__ROA_AA_B_TEMPLATE_EXT BOOLEAN,
    OPX2__ROA_AA_B_TIMESC_BOLD BOOLEAN,
    OPX2__ROA_AA_B_TIMESC_DOTTED BOOLEAN,
    OPX2__ROA_AA_B_TIMESC_ITA BOOLEAN,
    OPX2__ROA_AA_B_TITLE_BOLD BOOLEAN,
    OPX2__ROA_AA_B_TITLE_ITA BOOLEAN,
    OPX2__ROA_AA_D_PUBLISH DATE,
    OPX2__ROA_AA_N_DASH_SWIMLINE TEXT,
    OPX2__ROA_AA_N_DASH_THICKNESS TEXT,
    OPX2__ROA_AA_N_GRP_SFONT TEXT,
    OPX2__ROA_AA_N_LEG_NBLINE TEXT,
    OPX2__ROA_AA_N_LEG_SFONT TEXT,
    OPX2__ROA_AA_N_LINE_HEIGHT TEXT,
    OPX2__ROA_AA_N_TIMESC_HEIGHT TEXT,
    OPX2__ROA_AA_N_TIMESC_SFONT TEXT,
    OPX2__ROA_AA_N_TITLE_SFONT TEXT,
    OPX2__ROA_AA_S_DEFAULT_LAYOUT TEXT,
    OPX2__ROA_AA_S_EXTRACTOR_GROUP TEXT,
    OPX2__ROA_AA_S_EXTRACT_MAPPER TEXT,
    OPX2__ROA_AA_S_LVL1_COLOR TEXT,
    OPX2__ROA_AA_S_LVL2_COLOR TEXT,
    OPX2__ROA_AA_S_LVL3_COLOR TEXT,
    OPX2__ROA_AA_S_LVL4_COLOR TEXT,
    OPX2__ROA_AA_S_LVL5_COLOR TEXT,
    OPX2__ROA_AA_S_PAPER_FORMAT TEXT,
    OPX2__ROA_AA_S_PAPER_ORIENT TEXT,
    OPX2__ROA_AA_S_PUBLISHED_BY TEXT,
    OPX2__ROA_AA_S_PUB_DATA TEXT,
    OPX2__ROA_AA_S_REGROUP_ATT TEXT,
    OPX2__ROA_AA_S_TIMESC_BCGCOLOR TEXT,
    OPX2__ROA_AA_S_TIMESC_CFONT TEXT,
    OPX2__ROA_AA_S_TIMESC_FONT TEXT,
    OPX2__ROA_RA_PRJ_DATE_STYLE TEXT,
    OPX2__SAFE_AA_B_IS_AN_EPIC BOOLEAN,
    OPX2__SAFE_AA_B_SAFE_ENABLER BOOLEAN,
    OPX2__SAFE_RA_REQ_EPIC_ONB INTEGER,
    OPX2__SC_AA_B_INITIATIVE BOOLEAN,
    OPX2__SC_AA_N_CUSTOM_RATE TEXT,
    OPX2__SC_AA_S_PROJ_DEP TEXT,
    OPX2__STRAT_AA_B_STRAT_AXIS BOOLEAN,
    OPX2__SUP_AA_B_SUPERVISION_PRJ BOOLEAN,
    OPX2__WF_AA_B_TO_BE_REVIEWED BOOLEAN,
    OPX2__WF_AA_B_WF_PROCESSED BOOLEAN,
    OPX2__WZD_AA_B_PERMANENT BOOLEAN,
    ORIGIN_DATE DATE,
    ORIGIN_PROJECT TEXT,
    OWNER TEXT,
    PM_AA_S_PROJECT_UID TEXT,
    PNL_EXTERNAL_DEPENDENCES TEXT,
    PNL_MIGRATED TEXT,
    PNL_VERSION INTEGER,
    PREDICTED_COST TEXT,
    PROJECT_TYPE TEXT,
    REAL_FINISH DATE,
    REAL_START DATE,
    RIGHTS TEXT,
    SAVE_WS_DATES BOOLEAN,
    STATUS TEXT,
    TEMPLATE TEXT,
    TIME_NOW_METHOD TEXT,
    TRACK_CHANGES BOOLEAN,
    TRANSACTION_COUNTER INTEGER,
    UPDATE_DATE DATE,
    VERSION INTEGER,
    VERSION_ALLOW_ANY_MODIFICATION BOOLEAN,
    VERSION_DOCUMENTATION TEXT,
    VERSION_NUMBER INTEGER,
    VERSION_TRANSACTION INTEGER,
    WBS_DEFAULT BOOLEAN,
    WEIGHT TEXT,
    CONSTRAINT pk_ORDO_PROJECT PRIMARY KEY (ONB),
    CONSTRAINT fk_ORDO_PROJECT_OBS_OBS_NODE_onb FOREIGN KEY (OBS) REFERENCES OBS_NODE(onb),
    CONSTRAINT fk_ORDO_PROJECT_OPX2_0BS_OPX2_0BS_onb FOREIGN KEY (OPX2_0BS) REFERENCES OPX2_0BS(onb),
    CONSTRAINT fk_ORDO_PROJECT_OPX2_1BS_OPX2_1BS_onb FOREIGN KEY (OPX2_1BS) REFERENCES OPX2_1BS(onb),
    CONSTRAINT fk_ORDO_PROJECT_OPX2_3BS_OPX2_3BS_onb FOREIGN KEY (OPX2_3BS) REFERENCES OPX2_3BS(onb),
    CONSTRAINT fk_ORDO_PROJECT_OPX2_5BS_OPX2_5BS_onb FOREIGN KEY (OPX2_5BS) REFERENCES OPX2_5BS(onb),
    CONSTRAINT fk_ORDO_PROJECT_OPX2__PLM_RA_PRODUCT_TYPE_OPX2__PLM_PT_PRODUCT_TYPE_onb FOREIGN KEY (OPX2__PLM_RA_PRODUCT_TYPE) REFERENCES OPX2__PLM_PT_PRODUCT_TYPE(onb),
    CONSTRAINT fk_ORDO_PROJECT_OPX2__ROA_RA_PRJ_DATE_STYLE_OPX2__PEX_PT_MENU_DSTYLE_COPY_onb FOREIGN KEY (OPX2__ROA_RA_PRJ_DATE_STYLE) REFERENCES OPX2__PEX_PT_MENU_DSTYLE_COPY(onb),
    CONSTRAINT fk_ORDO_PROJECT_OPX2__ROA_RA_PRJ_DATE_STYLE_OPX2__RE_PT_DATES_STYLE_onb FOREIGN KEY (OPX2__ROA_RA_PRJ_DATE_STYLE) REFERENCES OPX2__RE_PT_DATES_STYLE(onb),
    CONSTRAINT fk_ORDO_PROJECT_ORIGIN_PROJECT_ORDO_PROJECT_onb FOREIGN KEY (ORIGIN_PROJECT) REFERENCES ORDO_PROJECT(onb),
    CONSTRAINT fk_ORDO_PROJECT_PROJECT_TYPE_PROJECT_TYPE_onb FOREIGN KEY (PROJECT_TYPE) REFERENCES PROJECT_TYPE(onb)
);

CREATE TABLE OPX2_RESOURCE (
    ONB INTEGER NOT NULL,
    CALENDAR TEXT,
    CBS TEXT,
    CONS_AVAILABILITY BOOLEAN,
    CONTROLLER TEXT,
    COST_UNIT TEXT,
    COST_VALUE TEXT,
    COST_VERSION INTEGER,
    DATASET INTEGER,
    ELEMENT_OF TEXT,
    FIXED_COST_VALUE TEXT,
    HIRING_DATE DATE,
    MANAGER TEXT,
    MODIFY_VERSION INTEGER,
    NAME TEXT,
    ONUM INTEGER,
    OPX2_COMMENT TEXT,
    OPX2__INF_AA_B_GENERIC_RES BOOLEAN,
    OPX2__INF_AA_S_USER_COLOR TEXT,
    OPX2__RM_REVIEW_RA_LOCATION TEXT,
    OPX2__SIM_NF_B_TO_MANAGE BOOLEAN,
    OPX2__TCM_RA_RES_PORTFOLIO TEXT,
    OVERTIME_CALENDAR TEXT,
    OVERTIME_COST_VALUE TEXT,
    PRIORITY INTEGER,
    SAVE_LOAD BOOLEAN,
    TC_BC_TS INTEGER,
    TIME_UNIT TEXT,
    CONSTRAINT pk_OPX2_RESOURCE PRIMARY KEY (ONB),
    CONSTRAINT fk_OPX2_RESOURCE_CALENDAR_CALENDAR_onb FOREIGN KEY (CALENDAR) REFERENCES CALENDAR(onb),
    CONSTRAINT fk_OPX2_RESOURCE_CALENDAR_CALENDAR_PROTOTYPE_reference FOREIGN KEY (CALENDAR) REFERENCES CALENDAR_PROTOTYPE(reference),
    CONSTRAINT fk_OPX2_RESOURCE_CBS_CBS_NODE_onb FOREIGN KEY (CBS) REFERENCES CBS_NODE(onb),
    CONSTRAINT fk_OPX2_RESOURCE_CONTROLLER_OPX2_USER_onb FOREIGN KEY (CONTROLLER) REFERENCES OPX2_USER(onb),
    CONSTRAINT fk_OPX2_RESOURCE_CONTROLLER_USER_GROUP_onb FOREIGN KEY (CONTROLLER) REFERENCES USER_GROUP(onb),
    CONSTRAINT fk_OPX2_RESOURCE_COST_UNIT_COST_UNIT_onb FOREIGN KEY (COST_UNIT) REFERENCES COST_UNIT(onb),
    CONSTRAINT fk_OPX2_RESOURCE_DATASET_COMMON_DATASET_onb FOREIGN KEY (DATASET) REFERENCES COMMON_DATASET(onb),
    CONSTRAINT fk_OPX2_RESOURCE_DATASET_ENVIRONMENT_DATASET_onb FOREIGN KEY (DATASET) REFERENCES ENVIRONMENT_DATASET(onb),
    CONSTRAINT fk_OPX2_RESOURCE_DATASET_ORDO_PROJECT_onb FOREIGN KEY (DATASET) REFERENCES ORDO_PROJECT(onb),
    CONSTRAINT fk_OPX2_RESOURCE_DATASET_WORKSPACE_onb FOREIGN KEY (DATASET) REFERENCES WORKSPACE(onb),
    CONSTRAINT fk_OPX2_RESOURCE_ELEMENT_OF_OPX2_RESOURCE_onb FOREIGN KEY (ELEMENT_OF) REFERENCES OPX2_RESOURCE(onb),
    CONSTRAINT fk_OPX2_RESOURCE_MANAGER_OPX2_USER_onb FOREIGN KEY (MANAGER) REFERENCES OPX2_USER(onb),
    CONSTRAINT fk_OPX2_RESOURCE_MANAGER_USER_GROUP_onb FOREIGN KEY (MANAGER) REFERENCES USER_GROUP(onb),
    CONSTRAINT fk_OPX2_RESOURCE_OPX2__RM_REVIEW_RA_LOCATION_OPX2__RM_REVIEW_PT_LOCATIONS_onb FOREIGN KEY (OPX2__RM_REVIEW_RA_LOCATION) REFERENCES OPX2__RM_REVIEW_PT_LOCATIONS(onb),
    CONSTRAINT fk_OPX2_RESOURCE_OPX2__TCM_RA_RES_PORTFOLIO_OPX2__TCM_PT_PORTFOLIO_onb FOREIGN KEY (OPX2__TCM_RA_RES_PORTFOLIO) REFERENCES OPX2__TCM_PT_PORTFOLIO(onb),
    CONSTRAINT fk_OPX2_RESOURCE_OVERTIME_CALENDAR_CALENDAR_onb FOREIGN KEY (OVERTIME_CALENDAR) REFERENCES CALENDAR(onb),
    CONSTRAINT fk_OPX2_RESOURCE_OVERTIME_CALENDAR_CALENDAR_PROTOTYPE_reference FOREIGN KEY (OVERTIME_CALENDAR) REFERENCES CALENDAR_PROTOTYPE(reference)
);

CREATE TABLE NETWORK (
    ONB INTEGER NOT NULL,
    AGL_AA_B_AGILE BOOLEAN,
    AGL_AA_B_BLOCKED BOOLEAN,
    AGL_AA_B_USE_TEAM BOOLEAN,
    AGL_AA_D_PF DATE,
    AGL_AA_N_SPRINTS_NUMBER TEXT,
    AGL_AA_N_SPRINTS_NUMBER_BCK TEXT,
    AGL_AA_N_SPRINT_DURATION TEXT,
    AGL_AA_N_SPRINT_DURATION_BCK TEXT,
    AGL_AA_S_ITE_CREATE_MODE TEXT,
    AGL_RA_REQUIREMENT TEXT,
    BCWP TEXT,
    BCWP_CONSOLIDATION TEXT,
    BUDGET TEXT,
    CALENDAR TEXT,
    CBS TEXT,
    CURRENT_PHASIS INTEGER,
    DATASET INTEGER,
    DATE_CONS BOOLEAN,
    EFFECTIVE_FINISH DATE,
    EFFECTIVE_START DATE,
    ELAPSED_DURATION TEXT,
    ETC TEXT,
    ETCC TEXT,
    IMPOSED_END DATE,
    IMPOSED_START DATE,
    INCURRED_EXPENDITURE TEXT,
    IN_SYNC_WITH INTEGER,
    IN_SYNC_WITH_DATASET INTEGER,
    I_STATUS TEXT,
    LAST_SYNC_DATE DATE,
    LAST_SYNC_RULE TEXT,
    MC_B_MONITOR_DU BOOLEAN,
    MC_B_MONITOR_SD BOOLEAN,
    MC_B_SIMUL_COST BOOLEAN,
    MC_B_SIMUL_PF BOOLEAN,
    MC_COUNT_CA TEXT,
    MC_DU_MAX TEXT,
    MC_DU_MIN TEXT,
    MC_DU_MOST_LIKELY TEXT,
    MC_DU_STD_DEVIATION TEXT,
    MC_TOTAL_NB_SIMU TEXT,
    MODIFY_VERSION INTEGER,
    NAME TEXT,
    NEED_WL_UPDATE BOOLEAN,
    NETWORK TEXT,
    NOTE_PAD TEXT,
    OBS TEXT,
    ONUM INTEGER,
    OPX2_0BS TEXT,
    OPX2_1BS TEXT,
    OPX2_2BS TEXT,
    OPX2_3BS TEXT,
    OPX2_5BS TEXT,
    OPX2_COMMENT TEXT,
    OPX2__AGL_RA_SPRINT_STATUS TEXT,
    OPX2__BM_AA_B_APPROVED_IN_SCEN BOOLEAN,
    OPX2__BM_AA_B_BUDGET_BLOCKED BOOLEAN,
    OPX2__BM_AA_B_DISPLAY_IN_MAP BOOLEAN,
    OPX2__BM_AA_B_DISPLAY_PRJ BOOLEAN,
    OPX2__BM_AA_B_IS_A_CONSO_LEVEL BOOLEAN,
    OPX2__BM_AA_B_NO_INPUT BOOLEAN,
    OPX2__BM_AA_B_RESERVE BOOLEAN,
    OPX2__BM_AA_N_LINKED_OBJECT TEXT,
    OPX2__BM_AA_N_RESERVE_ONB TEXT,
    OPX2__BM_AA_N_TRACK_ACT_ONB TEXT,
    OPX2__BM_AA_S_BUCKET_STATUS TEXT,
    OPX2__BM_AA_S_LEVEL_TO_CONSO TEXT,
    OPX2__BM_AA_S_SYNCHRONISE_WITH TEXT,
    OPX2__BM_RA_WBS_USER TEXT,
    OPX2__DEL_AA_D_MARGIN TEXT,
    OPX2__EE_AA_B_LOCK_EXT BOOLEAN,
    OPX2__FIN_AA_D_HYP_CACHE_LNCH DATE,
    OPX2__FIN_AA_D_PNL_WINDOW_MAX DATE,
    OPX2__FIN_AA_D_PNL_WINDOW_MIN DATE,
    OPX2__FIN_AA_N_COMMERC_SUCCESS TEXT,
    OPX2__FIN_AA_N_EDIT_ACT_ONB TEXT,
    OPX2__FIN_AA_N_LAUNCH_ACTIVITY TEXT,
    OPX2__FIN_AA_N_TECH_SUCCESS TEXT,
    OPX2__INF_AA_B_STANDARD_COLOR BOOLEAN,
    OPX2__INF_AA_B_STANDARD_SYMB BOOLEAN,
    OPX2__INF_AA_B_USE_ACT_PROP BOOLEAN,
    OPX2__INF_AA_N_REC_ONB_PRNT_AC INTEGER,
    OPX2__INF_AA_S_USER_COLOR TEXT,
    OPX2__PAC_AA_B_FAKE_NEW_STAGE BOOLEAN,
    OPX2__PAC_AA_B_FORCE_USE_IN_SG BOOLEAN,
    OPX2__PAC_AA_B_HISTORICAL_SG BOOLEAN,
    OPX2__PAC_AA_B_SUBMIT_TO_PAC BOOLEAN,
    OPX2__PAC_AA_S_APPROVAL_STATUS TEXT,
    OPX2__PLM_AA_B_IS_SPRINT BOOLEAN,
    OPX2__PLM_AA_B_LAUNCH_ACTIVITY BOOLEAN,
    OPX2__PLM_AA_B_REL_FREEZED BOOLEAN,
    OPX2__PLM_AA_N_AGL_CAPACITY TEXT,
    OPX2__PLM_AA_N_REQ_ACT_COST TEXT,
    OPX2__PLM_AA_S_REL_STATUS TEXT,
    OPX2__PLM_KB_AA_B_COST_CHANGED BOOLEAN,
    OPX2__PMGO_AA_B_ARCHIVED BOOLEAN,
    OPX2__PM_AA_B_DISPLAY_IN_ROA BOOLEAN,
    OPX2__PM_AA_B_IS_AN_INTERFACE BOOLEAN,
    OPX2__PM_AA_B_ROLLUP_DISPLAY BOOLEAN,
    OPX2__PM_AA_D_TEMP_CONSTRAINT DATE,
    OPX2__PM_AA_D_THR_OWR_DU_GR TEXT,
    OPX2__PM_AA_D_THR_OWR_DU_OR TEXT,
    OPX2__PM_AA_D_THR_OWR_DU_RED TEXT,
    OPX2__PM_AA_N_LIBRARY_ACT_ONB INTEGER,
    OPX2__PM_AA_N_LIBRARY_ACT_OVN TEXT,
    OPX2__PM_AA_N_THR_OWR_COST_GR TEXT,
    OPX2__PM_AA_N_THR_OWR_COST_OR TEXT,
    OPX2__PM_AA_N_THR_OWR_COST_RED TEXT,
    OPX2__PM_AA_N_THR_OWR_RES_GR TEXT,
    OPX2__PM_AA_N_THR_OWR_RES_OR TEXT,
    OPX2__PM_AA_N_THR_OWR_RES_RED TEXT,
    OPX2__PRI_AA_B_DATES_FIXED BOOLEAN,
    OPX2__PRI_AA_B_PROJ_NODE BOOLEAN,
    OPX2__PRI_AA_DU_REMAINING TEXT,
    OPX2__PRI_AA_DU_TARGET TEXT,
    OPX2__PRI_AA_N_PHYS_PC TEXT,
    OPX2__PRI_AA_QTY_ACT_EQUIP TEXT,
    OPX2__PRI_AA_QTY_ACT_WORK TEXT,
    OPX2__PRI_AA_QTY_REM_EQUIP TEXT,
    OPX2__PRI_AA_QTY_REM_WORK TEXT,
    OPX2__PRI_AA_QTY_TARGET_EQUIP TEXT,
    OPX2__PRI_AA_QTY_TARGET_WORK TEXT,
    OPX2__RM_REVIEW_AA_B_COMP_LVL BOOLEAN,
    OPX2__ROA_AA_B_FORCE_DISPLAY BOOLEAN,
    OPX2__ROA_AA_B_GANTT_FULL_LINE BOOLEAN,
    OPX2__ROA_AA_B_GANTT_TOP_BAR BOOLEAN,
    OPX2__ROA_AA_B_LINK_AS_POPUP BOOLEAN,
    OPX2__ROA_AA_N_GANTT_NB_LINES TEXT,
    OPX2__ROA_AA_N_SELECTION_GRP TEXT,
    OPX2__SC_AA_N_CUSTOM_RATE TEXT,
    OPX2__SRV_AA_N_RATE TEXT,
    OPX2__WPM_AA_B_WF_WPM_OK BOOLEAN,
    ORIGIN_NUMBER INTEGER,
    PERCENT_COMPLETE TEXT,
    PHASIS TEXT,
    PHYSICAL_FURTHERANCE TEXT,
    PORT_PJT_ROI TEXT,
    PRIORITY INTEGER,
    ROOT_WBS BOOLEAN,
    SBUDGET_FINISH DATE,
    SBUDGET_START DATE,
    STRECHING TEXT,
    SYNC_VERSION INTEGER,
    TASK_TYPE TEXT,
    TC_CLOSED BOOLEAN,
    WBS_TYPE TEXT,
    CONSTRAINT pk_NETWORK PRIMARY KEY (ONB),
    CONSTRAINT fk_NETWORK_AGL_RA_REQUIREMENT_OPX2__PLM_PT_REQUIREMENT_onb FOREIGN KEY (AGL_RA_REQUIREMENT) REFERENCES OPX2__PLM_PT_REQUIREMENT(onb),
    CONSTRAINT fk_NETWORK_AGL_RA_REQUIREMENT_OPX2__WF_PT_CHANGE_REQUEST_onb FOREIGN KEY (AGL_RA_REQUIREMENT) REFERENCES OPX2__WF_PT_CHANGE_REQUEST(onb),
    CONSTRAINT fk_NETWORK_CALENDAR_CALENDAR_onb FOREIGN KEY (CALENDAR) REFERENCES CALENDAR(onb),
    CONSTRAINT fk_NETWORK_CALENDAR_CALENDAR_PROTOTYPE_reference FOREIGN KEY (CALENDAR) REFERENCES CALENDAR_PROTOTYPE(reference),
    CONSTRAINT fk_NETWORK_CBS_CBS_NODE_onb FOREIGN KEY (CBS) REFERENCES CBS_NODE(onb),
    CONSTRAINT fk_NETWORK_DATASET_COMMON_DATASET_onb FOREIGN KEY (DATASET) REFERENCES COMMON_DATASET(onb),
    CONSTRAINT fk_NETWORK_DATASET_ENVIRONMENT_DATASET_onb FOREIGN KEY (DATASET) REFERENCES ENVIRONMENT_DATASET(onb),
    CONSTRAINT fk_NETWORK_DATASET_ORDO_PROJECT_onb FOREIGN KEY (DATASET) REFERENCES ORDO_PROJECT(onb),
    CONSTRAINT fk_NETWORK_DATASET_WORKSPACE_onb FOREIGN KEY (DATASET) REFERENCES WORKSPACE(onb),
    CONSTRAINT fk_NETWORK_IN_SYNC_WITH_DATASET_COMMON_DATASET_onb FOREIGN KEY (IN_SYNC_WITH_DATASET) REFERENCES COMMON_DATASET(onb),
    CONSTRAINT fk_NETWORK_IN_SYNC_WITH_DATASET_ENVIRONMENT_DATASET_onb FOREIGN KEY (IN_SYNC_WITH_DATASET) REFERENCES ENVIRONMENT_DATASET(onb),
    CONSTRAINT fk_NETWORK_IN_SYNC_WITH_DATASET_ORDO_PROJECT_onb FOREIGN KEY (IN_SYNC_WITH_DATASET) REFERENCES ORDO_PROJECT(onb),
    CONSTRAINT fk_NETWORK_IN_SYNC_WITH_DATASET_WORKSPACE_onb FOREIGN KEY (IN_SYNC_WITH_DATASET) REFERENCES WORKSPACE(onb),
    CONSTRAINT fk_NETWORK_NETWORK_NETWORK_onb FOREIGN KEY (NETWORK) REFERENCES NETWORK(onb),
    CONSTRAINT fk_NETWORK_OBS_OBS_NODE_onb FOREIGN KEY (OBS) REFERENCES OBS_NODE(onb),
    CONSTRAINT fk_NETWORK_OPX2_0BS_OPX2_0BS_onb FOREIGN KEY (OPX2_0BS) REFERENCES OPX2_0BS(onb),
    CONSTRAINT fk_NETWORK_OPX2_1BS_OPX2_1BS_onb FOREIGN KEY (OPX2_1BS) REFERENCES OPX2_1BS(onb),
    CONSTRAINT fk_NETWORK_OPX2_2BS_OPX2_2BS_onb FOREIGN KEY (OPX2_2BS) REFERENCES OPX2_2BS(onb),
    CONSTRAINT fk_NETWORK_OPX2_3BS_OPX2_3BS_onb FOREIGN KEY (OPX2_3BS) REFERENCES OPX2_3BS(onb),
    CONSTRAINT fk_NETWORK_OPX2_5BS_OPX2_5BS_onb FOREIGN KEY (OPX2_5BS) REFERENCES OPX2_5BS(onb),
    CONSTRAINT fk_NETWORK_OPX2__AGL_RA_SPRINT_STATUS_OPX2__AGL_PT_SPRINT_STATUS_onb FOREIGN KEY (OPX2__AGL_RA_SPRINT_STATUS) REFERENCES OPX2__AGL_PT_SPRINT_STATUS(onb),
    CONSTRAINT fk_NETWORK_OPX2__BM_RA_WBS_USER_OPX2_USER_onb FOREIGN KEY (OPX2__BM_RA_WBS_USER) REFERENCES OPX2_USER(onb),
    CONSTRAINT fk_NETWORK_WBS_TYPE_WBS_TYPE_onb FOREIGN KEY (WBS_TYPE) REFERENCES WBS_TYPE(onb)
);

CREATE TABLE TASK (
    ONB INTEGER NOT NULL,
    AGL_AA_B_AGILE BOOLEAN,
    AGL_AA_B_BLOCKED BOOLEAN,
    AGL_AA_B_USE_TEAM BOOLEAN,
    AGL_AA_N_SPRINTS_NUMBER TEXT,
    AGL_AA_N_SPRINTS_NUMBER_BCK TEXT,
    AGL_AA_N_SPRINT_DURATION TEXT,
    AGL_AA_N_SPRINT_DURATION_BCK TEXT,
    AGL_AA_S_ITE_CREATE_MODE TEXT,
    BCWP TEXT,
    BUDGET TEXT,
    CALENDAR TEXT,
    CBS TEXT,
    CURRENT_PHASIS INTEGER,
    DATASET INTEGER,
    EFFECTIVE_FINISH DATE,
    EFFECTIVE_START DATE,
    ELAPSED_DURATION TEXT,
    ETC TEXT,
    IMPOSED_END DATE,
    IMPOSED_START DATE,
    INCURRED_EXPENDITURE TEXT,
    INTER_PHASIS TEXT,
    IN_SYNC_WITH INTEGER,
    IN_SYNC_WITH_DATASET INTEGER,
    I_STATUS TEXT,
    LAST_SYNC_DATE DATE,
    LAST_SYNC_RULE TEXT,
    MC_B_MONITOR_DU BOOLEAN,
    MC_B_MONITOR_SD BOOLEAN,
    MC_B_SIMUL_COST BOOLEAN,
    MC_B_SIMUL_PF BOOLEAN,
    MC_COUNT_CA TEXT,
    MC_DU_MAX TEXT,
    MC_DU_MIN TEXT,
    MC_DU_MOST_LIKELY TEXT,
    MC_DU_STD_DEVIATION TEXT,
    MC_TOTAL_NB_SIMU TEXT,
    MODIFY_VERSION INTEGER,
    NAME TEXT,
    NEED_WL_UPDATE BOOLEAN,
    NETWORK TEXT,
    OBS TEXT,
    ONUM INTEGER,
    OPX2_0BS TEXT,
    OPX2_1BS TEXT,
    OPX2_3BS TEXT,
    OPX2_5BS TEXT,
    OPX2_COMMENT TEXT,
    OPX2__AGL_RA_SPRINT_STATUS TEXT,
    OPX2__BM_AA_B_APPROVED_IN_SCEN BOOLEAN,
    OPX2__BM_AA_B_BUDGET_BLOCKED BOOLEAN,
    OPX2__BM_AA_B_DISPLAY_IN_MAP BOOLEAN,
    OPX2__BM_AA_B_DISPLAY_PRJ BOOLEAN,
    OPX2__BM_AA_B_IS_A_CONSO_LEVEL BOOLEAN,
    OPX2__BM_AA_B_NO_INPUT BOOLEAN,
    OPX2__BM_AA_B_RESERVE BOOLEAN,
    OPX2__BM_AA_N_RESERVE_ONB TEXT,
    OPX2__BM_AA_N_TRACK_ACT_ONB TEXT,
    OPX2__BM_AA_S_BUCKET_STATUS TEXT,
    OPX2__DEL_AA_D_MARGIN TEXT,
    OPX2__EE_AA_B_LOCK_EXT BOOLEAN,
    OPX2__FIN_AA_N_COMMERC_SUCCESS TEXT,
    OPX2__FIN_AA_N_LAUNCH_ACTIVITY TEXT,
    OPX2__FIN_AA_N_TECH_SUCCESS TEXT,
    OPX2__INF_AA_B_STANDARD_COLOR BOOLEAN,
    OPX2__INF_AA_B_STANDARD_SYMB BOOLEAN,
    OPX2__INF_AA_B_USE_ACT_PROP BOOLEAN,
    OPX2__INF_AA_N_REC_ONB_PRNT_AC INTEGER,
    OPX2__INF_AA_S_USER_COLOR TEXT,
    OPX2__PAC_AA_B_FAKE_NEW_STAGE BOOLEAN,
    OPX2__PAC_AA_B_FORCE_USE_IN_SG BOOLEAN,
    OPX2__PAC_AA_B_HISTORICAL_SG BOOLEAN,
    OPX2__PAC_AA_B_SUBMIT_TO_PAC BOOLEAN,
    OPX2__PAC_AA_S_APPROVAL_STATUS TEXT,
    OPX2__PLM_AA_B_IS_SPRINT BOOLEAN,
    OPX2__PLM_AA_B_LAUNCH_ACTIVITY BOOLEAN,
    OPX2__PLM_AA_B_REL_FREEZED BOOLEAN,
    OPX2__PLM_AA_N_AGL_CAPACITY TEXT,
    OPX2__PLM_AA_N_REQ_ACT_COST TEXT,
    OPX2__PLM_AA_S_REL_STATUS TEXT,
    OPX2__PLM_KB_AA_B_COST_CHANGED BOOLEAN,
    OPX2__PMGO_AA_B_ARCHIVED BOOLEAN,
    OPX2__PM_AA_B_DISPLAY_IN_ROA BOOLEAN,
    OPX2__PM_AA_B_IS_AN_INTERFACE BOOLEAN,
    OPX2__PM_AA_B_ROLLUP_DISPLAY BOOLEAN,
    OPX2__PM_AA_D_THR_OWR_DU_GR TEXT,
    OPX2__PM_AA_D_THR_OWR_DU_OR TEXT,
    OPX2__PM_AA_D_THR_OWR_DU_RED TEXT,
    OPX2__PM_AA_N_LIBRARY_ACT_ONB INTEGER,
    OPX2__PM_AA_N_LIBRARY_ACT_OVN TEXT,
    OPX2__PM_AA_N_THR_OWR_COST_GR TEXT,
    OPX2__PM_AA_N_THR_OWR_COST_OR TEXT,
    OPX2__PM_AA_N_THR_OWR_COST_RED TEXT,
    OPX2__PM_AA_N_THR_OWR_RES_GR TEXT,
    OPX2__PM_AA_N_THR_OWR_RES_OR TEXT,
    OPX2__PM_AA_N_THR_OWR_RES_RED TEXT,
    OPX2__PRI_AA_B_DATES_FIXED BOOLEAN,
    OPX2__PRI_AA_DU_REMAINING TEXT,
    OPX2__PRI_AA_DU_TARGET TEXT,
    OPX2__PRI_AA_N_PHYS_PC TEXT,
    OPX2__PRI_AA_QTY_ACT_EQUIP TEXT,
    OPX2__PRI_AA_QTY_ACT_WORK TEXT,
    OPX2__PRI_AA_QTY_REM_EQUIP TEXT,
    OPX2__PRI_AA_QTY_REM_WORK TEXT,
    OPX2__PRI_AA_QTY_TARGET_EQUIP TEXT,
    OPX2__PRI_AA_QTY_TARGET_WORK TEXT,
    OPX2__RM_REVIEW_AA_B_COMP_LVL BOOLEAN,
    OPX2__ROA_AA_B_FORCE_DISPLAY BOOLEAN,
    OPX2__ROA_AA_B_GANTT_FULL_LINE BOOLEAN,
    OPX2__ROA_AA_B_GANTT_TOP_BAR BOOLEAN,
    OPX2__ROA_AA_B_LINK_AS_POPUP BOOLEAN,
    OPX2__ROA_AA_N_GANTT_NB_LINES TEXT,
    OPX2__ROA_AA_N_SELECTION_GRP TEXT,
    OPX2__ROA_AA_S_LINKED_REPORT TEXT,
    OPX2__SRV_AA_N_RATE TEXT,
    OPX2__WPM_AA_S_WPM_BAK TEXT,
    ORIGIN_NUMBER INTEGER,
    PERCENT_COMPLETE TEXT,
    PHASIS TEXT,
    PHYSICAL_FURTHERANCE TEXT,
    PRIORITY INTEGER,
    PROGRESS_METHOD TEXT,
    SBUDGET_FINISH DATE,
    SBUDGET_START DATE,
    STRECHING TEXT,
    SYNC_VERSION INTEGER,
    TARGET_FINISH DATE,
    TASK_TYPE TEXT,
    TC_CLOSED BOOLEAN,
    WBS_TYPE TEXT,
    CONSTRAINT pk_TASK PRIMARY KEY (ONB),
    CONSTRAINT fk_TASK_CALENDAR_CALENDAR_onb FOREIGN KEY (CALENDAR) REFERENCES CALENDAR(onb),
    CONSTRAINT fk_TASK_CALENDAR_CALENDAR_PROTOTYPE_reference FOREIGN KEY (CALENDAR) REFERENCES CALENDAR_PROTOTYPE(reference),
    CONSTRAINT fk_TASK_CBS_CBS_NODE_onb FOREIGN KEY (CBS) REFERENCES CBS_NODE(onb),
    CONSTRAINT fk_TASK_DATASET_COMMON_DATASET_onb FOREIGN KEY (DATASET) REFERENCES COMMON_DATASET(onb),
    CONSTRAINT fk_TASK_DATASET_ENVIRONMENT_DATASET_onb FOREIGN KEY (DATASET) REFERENCES ENVIRONMENT_DATASET(onb),
    CONSTRAINT fk_TASK_DATASET_ORDO_PROJECT_onb FOREIGN KEY (DATASET) REFERENCES ORDO_PROJECT(onb),
    CONSTRAINT fk_TASK_DATASET_WORKSPACE_onb FOREIGN KEY (DATASET) REFERENCES WORKSPACE(onb),
    CONSTRAINT fk_TASK_IN_SYNC_WITH_DATASET_COMMON_DATASET_onb FOREIGN KEY (IN_SYNC_WITH_DATASET) REFERENCES COMMON_DATASET(onb),
    CONSTRAINT fk_TASK_IN_SYNC_WITH_DATASET_ENVIRONMENT_DATASET_onb FOREIGN KEY (IN_SYNC_WITH_DATASET) REFERENCES ENVIRONMENT_DATASET(onb),
    CONSTRAINT fk_TASK_IN_SYNC_WITH_DATASET_ORDO_PROJECT_onb FOREIGN KEY (IN_SYNC_WITH_DATASET) REFERENCES ORDO_PROJECT(onb),
    CONSTRAINT fk_TASK_IN_SYNC_WITH_DATASET_WORKSPACE_onb FOREIGN KEY (IN_SYNC_WITH_DATASET) REFERENCES WORKSPACE(onb),
    CONSTRAINT fk_TASK_NETWORK_NETWORK_onb FOREIGN KEY (NETWORK) REFERENCES NETWORK(onb),
    CONSTRAINT fk_TASK_OBS_OBS_NODE_onb FOREIGN KEY (OBS) REFERENCES OBS_NODE(onb),
    CONSTRAINT fk_TASK_OPX2_0BS_OPX2_0BS_onb FOREIGN KEY (OPX2_0BS) REFERENCES OPX2_0BS(onb),
    CONSTRAINT fk_TASK_OPX2_1BS_OPX2_1BS_onb FOREIGN KEY (OPX2_1BS) REFERENCES OPX2_1BS(onb),
    CONSTRAINT fk_TASK_OPX2_3BS_OPX2_3BS_onb FOREIGN KEY (OPX2_3BS) REFERENCES OPX2_3BS(onb),
    CONSTRAINT fk_TASK_OPX2_5BS_OPX2_5BS_onb FOREIGN KEY (OPX2_5BS) REFERENCES OPX2_5BS(onb),
    CONSTRAINT fk_TASK_OPX2__AGL_RA_SPRINT_STATUS_OPX2__AGL_PT_SPRINT_STATUS_onb FOREIGN KEY (OPX2__AGL_RA_SPRINT_STATUS) REFERENCES OPX2__AGL_PT_SPRINT_STATUS(onb),
    CONSTRAINT fk_TASK_WBS_TYPE_WBS_TYPE_onb FOREIGN KEY (WBS_TYPE) REFERENCES WBS_TYPE(onb)
);

CREATE TABLE OPX2__WF_PT_RISKS (
    ONB INTEGER NOT NULL,
    DATASET INTEGER,
    MC_AA_D_DELAY_IMPACT TEXT,
    MODIFY_VERSION INTEGER,
    NAME TEXT,
    OPX2_COMMENT TEXT,
    OPX2__IS_AA_S_ISSUE_TEXTE TEXT,
    OPX2__RISK_AA_B_ACT_PLAN_ACTIV BOOLEAN,
    OPX2__WF_AA_B_ACCEPTED BOOLEAN,
    OPX2__WF_AA_B_CLOSED_RISK BOOLEAN,
    OPX2__WF_AA_B_ISSUE_PROCESSED BOOLEAN,
    OPX2__WF_AA_B_ISSUE_REFUSED BOOLEAN,
    OPX2__WF_AA_B_MANAGED BOOLEAN,
    OPX2__WF_AA_B_MANAGE_RISK BOOLEAN,
    OPX2__WF_AA_B_RISK_VALIDATION BOOLEAN,
    OPX2__WF_AA_D_CREATION_DATE DATE,
    OPX2__WF_AA_D_DEADLINE DATE,
    OPX2__WF_AA_N_RISK_OCC_PROBA TEXT,
    OPX2__WF_AA_N_RISK_STATE TEXT,
    OPX2__WF_AA_S_RISK_ACTION_PLAN TEXT,
    OPX2__WF_AA_S_RISK_IMPACT TEXT,
    OPX2__WF_RA_RISK_ACT TEXT,
    ORIGIN_NUMBER INTEGER,
    CONSTRAINT pk_OPX2__WF_PT_RISKS PRIMARY KEY (ONB),
    CONSTRAINT fk_OPX2__WF_PT_RISKS_DATASET_COMMON_DATASET_onb FOREIGN KEY (DATASET) REFERENCES COMMON_DATASET(onb),
    CONSTRAINT fk_OPX2__WF_PT_RISKS_DATASET_ENVIRONMENT_DATASET_onb FOREIGN KEY (DATASET) REFERENCES ENVIRONMENT_DATASET(onb),
    CONSTRAINT fk_OPX2__WF_PT_RISKS_DATASET_ORDO_PROJECT_onb FOREIGN KEY (DATASET) REFERENCES ORDO_PROJECT(onb),
    CONSTRAINT fk_OPX2__WF_PT_RISKS_DATASET_WORKSPACE_onb FOREIGN KEY (DATASET) REFERENCES WORKSPACE(onb),
    CONSTRAINT fk_OPX2__WF_PT_RISKS_OPX2__WF_RA_RISK_ACT_NETWORK_onb FOREIGN KEY (OPX2__WF_RA_RISK_ACT) REFERENCES NETWORK(onb),
    CONSTRAINT fk_OPX2__WF_PT_RISKS_OPX2__WF_RA_RISK_ACT_TASK_onb FOREIGN KEY (OPX2__WF_RA_RISK_ACT) REFERENCES TASK(onb)
);

CREATE TABLE OPX2__FF_PT_FAVOR_FILTERS (
    ONB INTEGER NOT NULL,
    DATASET INTEGER,
    MODIFY_VERSION INTEGER,
    NAME TEXT,
    OPX2_COMMENT TEXT,
    OPX2__BM_RES_AA_N_IMPROV TEXT,
    OPX2__FF_AA_B_ACTIVATE_LOAD BOOLEAN,
    OPX2__FF_AA_B_CLOSED_PRJ BOOLEAN,
    OPX2__FF_AA_B_CONSO_PRJ BOOLEAN,
    OPX2__FF_AA_B_DISPLAY_ACT_PRJ BOOLEAN,
    OPX2__FF_AA_B_DISPLAY_LAYOUT BOOLEAN,
    OPX2__FF_AA_B_DISPLAY_PERM_PRJ BOOLEAN,
    OPX2__FF_AA_B_DISPLAY_PLM_PRJ BOOLEAN,
    OPX2__FF_AA_B_DISPLAY_PORT BOOLEAN,
    OPX2__FF_AA_B_DISPLAY_VERSION BOOLEAN,
    OPX2__FF_AA_B_EXPORTED BOOLEAN,
    OPX2__FF_AA_B_IGNOR_BS_FILTER BOOLEAN,
    OPX2__FF_AA_B_IS_APPROVED BOOLEAN,
    OPX2__FF_AA_B_PROJECT_TEMPLATE BOOLEAN,
    OPX2__FF_AA_B_SIMU BOOLEAN,
    OPX2__FF_AA_B_USE_FILTER BOOLEAN,
    OPX2__FF_AA_S_CATEGORY TEXT,
    OPX2__FF_AA_S_GROUP_READ TEXT,
    OPX2__FF_AA_S_GROUP_WRITE TEXT,
    OPX2__FF_AA_S_OBS TEXT,
    OPX2__FF_AA_S_PROJECT_TYPE TEXT,
    OPX2__FF_AA_S_PROJ_LIST TEXT,
    OPX2__FF_AA_S_RESOURCE TEXT,
    OPX2__FF_AA_T_FORMULA TEXT,
    OPX2__FF_RA_USER_FF TEXT,
    OPX2__INF_AA_S_USER_COLOR TEXT,
    OPX2__KP_AA_B_IS_A_SCENARIO BOOLEAN,
    OPX2__KP_AA_N_STYLE TEXT,
    OPX2__KP_AA_N_THICKNESS TEXT,
    OPX2__KP_AA_N_XL TEXT,
    OPX2__KP_AA_N_XU TEXT,
    OPX2__KP_AA_N_YL TEXT,
    OPX2__KP_AA_N_YU TEXT,
    OPX2__KP_AA_S_LINKED_BUCKET TEXT,
    OPX2__KP_AA_S_PORTFOLIO TEXT,
    OPX2__KP_AA_S_SYNCHRO_CLASS TEXT,
    CONSTRAINT pk_OPX2__FF_PT_FAVOR_FILTERS PRIMARY KEY (ONB),
    CONSTRAINT fk_OPX2__FF_PT_FAVOR_FILTERS_DATASET_COMMON_DATASET_onb FOREIGN KEY (DATASET) REFERENCES COMMON_DATASET(onb),
    CONSTRAINT fk_OPX2__FF_PT_FAVOR_FILTERS_DATASET_ENVIRONMENT_DATASET_onb FOREIGN KEY (DATASET) REFERENCES ENVIRONMENT_DATASET(onb),
    CONSTRAINT fk_OPX2__FF_PT_FAVOR_FILTERS_DATASET_ORDO_PROJECT_onb FOREIGN KEY (DATASET) REFERENCES ORDO_PROJECT(onb),
    CONSTRAINT fk_OPX2__FF_PT_FAVOR_FILTERS_DATASET_WORKSPACE_onb FOREIGN KEY (DATASET) REFERENCES WORKSPACE(onb),
    CONSTRAINT fk_OPX2__FF_PT_FAVOR_FILTERS_OPX2__FF_RA_USER_FF_OPX2_USER_onb FOREIGN KEY (OPX2__FF_RA_USER_FF) REFERENCES OPX2_USER(onb)
);

CREATE TABLE TASK_ALLOC (
    ONB INTEGER NOT NULL,
    CBS TEXT,
    CREATOR_OBJECT_NUMBER INTEGER,
    DATASET INTEGER,
    DURATION_MODE TEXT,
    DURING TEXT,
    EQUATION_NUMBER INTEGER,
    FIXED_END DATE,
    FIXED_RATE BOOLEAN,
    FIXED_START DATE,
    MODIFY_VERSION INTEGER,
    OPX2_FROM TEXT,
    OPX2_RESOURCE TEXT,
    OPX2__PRI_AA_N_EXT_ID TEXT,
    OPX2__RM_REVIEW_AA_B_LOCK_COMP BOOLEAN,
    OPX2__RM_REVIEW_AA_N_MODE TEXT,
    OPX2__RM_REVIEW_RA_COMPACT TEXT,
    OPX2__RM_REVIEW_RA_ROLE TEXT,
    OPX2__RM_REVIEW_RA_SCENARIO TEXT,
    OPX2__SAFE_AA_B_SENT BOOLEAN,
    OPX2__TM_AA_B_STAUS BOOLEAN,
    OPX2__TM_AA_D_OF_CREATION DATE,
    OPX2__TM_AA_S_PH_CREATOR TEXT,
    OPX2__TM_N_STATUS TEXT,
    ORIGINAL_RATE TEXT,
    ORIGIN_NUMBER INTEGER,
    OTHER_UNIT TEXT,
    QTY TEXT,
    RATE TEXT,
    RATIO TEXT,
    RESOURCE_FROM TEXT,
    TAKE_RESOURCE_CALENDAR BOOLEAN,
    TOTAL_LOAD TEXT,
    TYPE TEXT,
    WORK_STRUCTURE TEXT,
    CONSTRAINT pk_TASK_ALLOC PRIMARY KEY (ONB),
    CONSTRAINT fk_TASK_ALLOC_CBS_CBS_NODE_onb FOREIGN KEY (CBS) REFERENCES CBS_NODE(onb),
    CONSTRAINT fk_TASK_ALLOC_DATASET_COMMON_DATASET_onb FOREIGN KEY (DATASET) REFERENCES COMMON_DATASET(onb),
    CONSTRAINT fk_TASK_ALLOC_DATASET_ENVIRONMENT_DATASET_onb FOREIGN KEY (DATASET) REFERENCES ENVIRONMENT_DATASET(onb),
    CONSTRAINT fk_TASK_ALLOC_DATASET_ORDO_PROJECT_onb FOREIGN KEY (DATASET) REFERENCES ORDO_PROJECT(onb),
    CONSTRAINT fk_TASK_ALLOC_DATASET_WORKSPACE_onb FOREIGN KEY (DATASET) REFERENCES WORKSPACE(onb),
    CONSTRAINT fk_TASK_ALLOC_OPX2_RESOURCE_OPX2_RESOURCE_onb FOREIGN KEY (OPX2_RESOURCE) REFERENCES OPX2_RESOURCE(onb),
    CONSTRAINT fk_TASK_ALLOC_OPX2__RM_REVIEW_RA_COMPACT_OPX2__RM_REVIEW_PT_COMPACT_onb FOREIGN KEY (OPX2__RM_REVIEW_RA_COMPACT) REFERENCES OPX2__RM_REVIEW_PT_COMPACT(onb),
    CONSTRAINT fk_TASK_ALLOC_OPX2__RM_REVIEW_RA_ROLE_OPX2__RM_REVIEW_PT_ROLE_onb FOREIGN KEY (OPX2__RM_REVIEW_RA_ROLE) REFERENCES OPX2__RM_REVIEW_PT_ROLE(onb),
    CONSTRAINT fk_TASK_ALLOC_OPX2__RM_REVIEW_RA_SCENARIO_OPX2__RM_REVIEW_PT_SCENARIO_onb FOREIGN KEY (OPX2__RM_REVIEW_RA_SCENARIO) REFERENCES OPX2__RM_REVIEW_PT_SCENARIO(onb),
    CONSTRAINT fk_TASK_ALLOC_OTHER_UNIT_COST_UNIT_onb FOREIGN KEY (OTHER_UNIT) REFERENCES COST_UNIT(onb),
    CONSTRAINT fk_TASK_ALLOC_WORK_STRUCTURE_NETWORK_onb FOREIGN KEY (WORK_STRUCTURE) REFERENCES NETWORK(onb),
    CONSTRAINT fk_TASK_ALLOC_WORK_STRUCTURE_TASK_onb FOREIGN KEY (WORK_STRUCTURE) REFERENCES TASK(onb)
);

CREATE TABLE WORK_PERFORMED (
    ONB INTEGER NOT NULL,
    ALLOC_NUMBER INTEGER,
    CBS TEXT,
    DATASET INTEGER,
    END_DATE DATE,
    MODIFY_VERSION INTEGER,
    OPX2_RESOURCE TEXT,
    OPX2__CRT_AA_N_NEGHOUR_ONB TEXT,
    OPX2__PRI_AA_N_EXT_ID TEXT,
    OPX2__RM_REVIEW_RA_COMPACT TEXT,
    OPX2__TC_AA_B_BILLABLE BOOLEAN,
    OPX2__TC_AA_B_ON_SITE BOOLEAN,
    ORIGIN TEXT,
    ORIGIN_NUMBER INTEGER,
    OTHER_UNIT TEXT,
    PRIMARY_SKILL TEXT,
    START_DATE DATE,
    TOTAL_LOAD TEXT,
    WORK_STRUCTURE TEXT,
    CONSTRAINT pk_WORK_PERFORMED PRIMARY KEY (ONB),
    CONSTRAINT fk_WORK_PERFORMED_CBS_CBS_NODE_onb FOREIGN KEY (CBS) REFERENCES CBS_NODE(onb),
    CONSTRAINT fk_WORK_PERFORMED_DATASET_COMMON_DATASET_onb FOREIGN KEY (DATASET) REFERENCES COMMON_DATASET(onb),
    CONSTRAINT fk_WORK_PERFORMED_DATASET_ENVIRONMENT_DATASET_onb FOREIGN KEY (DATASET) REFERENCES ENVIRONMENT_DATASET(onb),
    CONSTRAINT fk_WORK_PERFORMED_DATASET_ORDO_PROJECT_onb FOREIGN KEY (DATASET) REFERENCES ORDO_PROJECT(onb),
    CONSTRAINT fk_WORK_PERFORMED_DATASET_WORKSPACE_onb FOREIGN KEY (DATASET) REFERENCES WORKSPACE(onb),
    CONSTRAINT fk_WORK_PERFORMED_OPX2_RESOURCE_OPX2_RESOURCE_onb FOREIGN KEY (OPX2_RESOURCE) REFERENCES OPX2_RESOURCE(onb),
    CONSTRAINT fk_WORK_PERFORMED_OPX2__RM_REVIEW_RA_COMPACT_OPX2__RM_REVIEW_PT_COMPACT_onb FOREIGN KEY (OPX2__RM_REVIEW_RA_COMPACT) REFERENCES OPX2__RM_REVIEW_PT_COMPACT(onb),
    CONSTRAINT fk_WORK_PERFORMED_OTHER_UNIT_COST_UNIT_onb FOREIGN KEY (OTHER_UNIT) REFERENCES COST_UNIT(onb),
    CONSTRAINT fk_WORK_PERFORMED_PRIMARY_SKILL_RESOURCE_SKILL_onb FOREIGN KEY (PRIMARY_SKILL) REFERENCES RESOURCE_SKILL(onb),
    CONSTRAINT fk_WORK_PERFORMED_WORK_STRUCTURE_NETWORK_onb FOREIGN KEY (WORK_STRUCTURE) REFERENCES NETWORK(onb),
    CONSTRAINT fk_WORK_PERFORMED_WORK_STRUCTURE_TASK_onb FOREIGN KEY (WORK_STRUCTURE) REFERENCES TASK(onb)
);

CREATE TABLE EXPENDITURE (
    ONB INTEGER NOT NULL,
    CBS TEXT,
    DATASET INTEGER,
    DELAY TEXT,
    DURATION_MODE TEXT,
    END_DELAY TEXT,
    FIXED_END DATE,
    FIXED_START DATE,
    MODIFY_VERSION INTEGER,
    OPX2__FIN_AA_B_PNL_OUTPUT BOOLEAN,
    OPX2__FIN_RA_MONETARY_UNIT TEXT,
    OPX2__FIN_RA_VOLUME_UNIT TEXT,
    OPX2__WF_RA_RISK TEXT,
    ORIGIN_NUMBER INTEGER,
    QTY TEXT,
    TYPE TEXT,
    UNIT TEXT,
    WORK_STRUCTURE TEXT,
    CONSTRAINT pk_EXPENDITURE PRIMARY KEY (ONB),
    CONSTRAINT fk_EXPENDITURE_CBS_CBS_NODE_onb FOREIGN KEY (CBS) REFERENCES CBS_NODE(onb),
    CONSTRAINT fk_EXPENDITURE_DATASET_COMMON_DATASET_onb FOREIGN KEY (DATASET) REFERENCES COMMON_DATASET(onb),
    CONSTRAINT fk_EXPENDITURE_DATASET_ENVIRONMENT_DATASET_onb FOREIGN KEY (DATASET) REFERENCES ENVIRONMENT_DATASET(onb),
    CONSTRAINT fk_EXPENDITURE_DATASET_ORDO_PROJECT_onb FOREIGN KEY (DATASET) REFERENCES ORDO_PROJECT(onb),
    CONSTRAINT fk_EXPENDITURE_DATASET_WORKSPACE_onb FOREIGN KEY (DATASET) REFERENCES WORKSPACE(onb),
    CONSTRAINT fk_EXPENDITURE_OPX2__FIN_RA_MONETARY_UNIT_COST_UNIT_onb FOREIGN KEY (OPX2__FIN_RA_MONETARY_UNIT) REFERENCES COST_UNIT(onb),
    CONSTRAINT fk_EXPENDITURE_OPX2__FIN_RA_VOLUME_UNIT_COST_UNIT_onb FOREIGN KEY (OPX2__FIN_RA_VOLUME_UNIT) REFERENCES COST_UNIT(onb),
    CONSTRAINT fk_EXPENDITURE_OPX2__WF_RA_RISK_OPX2__WF_PT_RISKS_onb FOREIGN KEY (OPX2__WF_RA_RISK) REFERENCES OPX2__WF_PT_RISKS(onb),
    CONSTRAINT fk_EXPENDITURE_UNIT_COST_UNIT_onb FOREIGN KEY (UNIT) REFERENCES COST_UNIT(onb),
    CONSTRAINT fk_EXPENDITURE_WORK_STRUCTURE_NETWORK_onb FOREIGN KEY (WORK_STRUCTURE) REFERENCES NETWORK(onb),
    CONSTRAINT fk_EXPENDITURE_WORK_STRUCTURE_TASK_onb FOREIGN KEY (WORK_STRUCTURE) REFERENCES TASK(onb)
);

CREATE TABLE INCURRED_EXPENDITURE (
    ONB INTEGER NOT NULL,
    CBS TEXT,
    DATASET INTEGER,
    END_DATE DATE,
    MODIFY_VERSION INTEGER,
    OPX2__CRT_AA_B_BILLABLE BOOLEAN,
    ORIGIN TEXT,
    ORIGIN_NUMBER INTEGER,
    QTY TEXT,
    START_DATE DATE,
    UNIT TEXT,
    WORK_STRUCTURE TEXT,
    CONSTRAINT pk_INCURRED_EXPENDITURE PRIMARY KEY (ONB),
    CONSTRAINT fk_INCURRED_EXPENDITURE_CBS_CBS_NODE_onb FOREIGN KEY (CBS) REFERENCES CBS_NODE(onb),
    CONSTRAINT fk_INCURRED_EXPENDITURE_DATASET_COMMON_DATASET_onb FOREIGN KEY (DATASET) REFERENCES COMMON_DATASET(onb),
    CONSTRAINT fk_INCURRED_EXPENDITURE_DATASET_ENVIRONMENT_DATASET_onb FOREIGN KEY (DATASET) REFERENCES ENVIRONMENT_DATASET(onb),
    CONSTRAINT fk_INCURRED_EXPENDITURE_DATASET_ORDO_PROJECT_onb FOREIGN KEY (DATASET) REFERENCES ORDO_PROJECT(onb),
    CONSTRAINT fk_INCURRED_EXPENDITURE_DATASET_WORKSPACE_onb FOREIGN KEY (DATASET) REFERENCES WORKSPACE(onb),
    CONSTRAINT fk_INCURRED_EXPENDITURE_UNIT_COST_UNIT_onb FOREIGN KEY (UNIT) REFERENCES COST_UNIT(onb),
    CONSTRAINT fk_INCURRED_EXPENDITURE_WORK_STRUCTURE_NETWORK_onb FOREIGN KEY (WORK_STRUCTURE) REFERENCES NETWORK(onb),
    CONSTRAINT fk_INCURRED_EXPENDITURE_WORK_STRUCTURE_TASK_onb FOREIGN KEY (WORK_STRUCTURE) REFERENCES TASK(onb)
);

